%td{ :colspan => 6 }
  .record-form
    %div.xhr_errors{:id => "error_report_#{report.id}", :style => 'display: none;'}
      = error_messages_for :report
    - remote_form_for :report, :url => report_path(report), :html => {:method => :put} do |f|
      %table
        %tbody
          %tr
            %td 
              =image_tag(report.reporter.icon, :class => "profile")
              %span{ :class => "author vcard"}
                =h report.reporter.name
                %br
                =h report.reporter.uniqueid
            %td= report.reporter.source_name
            %td= report.text
            %td 
              %abbr{ :class => "published", :title => report.created_at.iso8601 }
                ="#{time_ago_in_words(report.created_at)} ago"
      %table
        %tbody
          %tr
            %td 
              %label Wait
            %td 
              %label Tags
            %td 
              %label Location
            %td{ :style => 'text-align: right;'}
              = link_to_remote 'Save', { :url => report_path(report), :method => :put }
              = link_to_remote 'Cancel', { :url => report_path(report), :method => :get }
