<div class="container">
	<div class="digg_pagination">	
			<div class="pagination">
				<span class="disabled prev_page">page</span>
			<%= (1..10).collect {|page| link_to(page, "#", :class => (page == 1 ? "current" : ""), :id => "page_#{page}", :onclick => "return updateState(null, #{page})")}.join(" ") %>
			</div></div>	
	<div class="filters">
	<h2>Available filters:</h2>
	<ul class="nobullets">
		<li>View state-by-state: <%= state_select %></li>
		<li><a href="#" onclick="return updateMap('count=100')">Show last 100 reports</a></li>
		<li><a href="#" onclick="return updateMap('wait_time=90')">Show wait time > 90 minutes</a></li>
		<li><a href="#" onclick="return updateMap('rating=30')">Show only bad ratings</a></li>
	</ul>
	</div>
	
	<div class="legend">
	<h2>How to read this map:</h2>
		<div class="leftcolumn">
			<ul class="nobullets">
				<li><strong>Quality of experience:</strong></li>
				<li><%= image_tag "rating_none.png" %> No rating given</li>		
				<li><%= image_tag "rating_bad.png" %> Bad (0-30%)</li>
				<li><%= image_tag "rating_medium.png" %> Medium (31-70%)</li>
				<li><%= image_tag "rating_good.png" %> Good (71-100%)</li>		
			</ul>
		</div>
		<div class="rightcolumn">
			<ul class="nobullets">
				<li><strong>Wait time:</strong></li> 
				<li><%= image_tag "rating_none.png", :style => "width: 10px; height: 10px;" %> 0-15 mins</li>
				<li><%= image_tag "rating_none.png", :style => "width: 14px; height: 14px;" %> 16-60 mins</li>
				<li><%= image_tag "rating_none.png", :style => "width: 18px; height: 18px;" %> 61+ mins</li>
			</ul>
		</div>
	</div>
</div>
<div class="clear"></div>

<!-- <div id="update_status" style="display:none">updating...</div>
<a href="#" onclick="updateMap('last_updated='+last_updated +'&'+filters); return false">Update Map</a><br />
This map was last updated on: <span id="last_updated"> </span>GMT -->