<div id="map"></div>

	<!-- <script src="http://openlayers.org/api/2.6/OpenLayers.js"></script> -->
    <script src="http://maps.google.com/maps?file=api&v=2&key=<%=GMAPS_API_KEY%>" type="text/javascript"></script>
    <script type="text/javascript" src="/javascripts/mapstraction.js"></script>	
    <script type="text/javascript" src="/javascripts/mapping.js"></script>	
	<script type="text/javascript" src="/javascripts/jquery.min.js"></script>	
    <style type="text/css">
        #map {
            width: 100%;
            height: <%=params[:clean] ? 100 : 80%>%;
            border: 1px solid gray;
        }
    </style>
<div id="message" style="display:none"></div>

<%= render :partial => 'legend' if !params[:clean]%>

<script type="text/javascript" charset="utf-8">

		$(document).ready(function() {
			initMapJS();
			filters = "<%= @filters.collect{|k,v| "#{k}=#{v}"}.join("&") %>";
			state = "<%= @filters[:state] || '' %>";
			// remoteLoad("/reports.json?wait_time=0&per_page=200&" + filters, "updateJSON")
			<%- if @filters[:state].blank?  -%>
			remoteLoad("<%= json_feed_url(:wait_time => 0, :page => 1, :per_page => 200, :callback => 'updateJSON') %>","")
			<%- else -%>
			remoteLoad("<%= json_state_feed_url(:state => @filters[:state], :wait_time => 0, :page => 1, :per_page => 200, :callback => 'updateJSON') %>","")
			<%- end -%>
		 });
</script>