<% if !params[:clean] %>
go back to the <%= link_to "#votereport homepage", reports_path %>
<% end %>
<div id="map"></div>

	<!-- <script src="http://openlayers.org/api/2.6/OpenLayers.js"></script> -->
    <script src="http://maps.google.com/maps?file=api&v=2&key=<%=GMAPS_API_KEY%>" type="text/javascript"></script>
    <script type="text/javascript" src="/javascripts/mapstraction.js"></script>	
    <script type="text/javascript" src="/javascripts/mapping.js"></script>	
	<script type="text/javascript" src="/javascripts/jquery.min.js"></script>	
    <style type="text/css">
        #map {
            width: 100%;
            height: <%=params[:clean]==1 ? 100 : 80%>%;
            border: 1px solid gray;
        }
    </style>
<div id="message" style="display:none"></div>

<%= render :partial => 'legend' if !params[:clean]%>

<script type="text/javascript" charset="utf-8">

		$(document).ready(function() {
			initMapJS();
			filters = "<%= @filters.collect{|k,v| "#{k}=#{v}"}.join("&") %>";
			state = "<%= @filters[:state] || '' %>";
			remoteLoad("/reports.json?per_page=200&" + filters, "updateJSON")
		 });
</script>