<div id="map"></div>

	<!-- <script src="http://openlayers.org/api/2.6/OpenLayers.js"></script> -->
    <script src="http://maps.google.com/maps?file=api&v=2&key=<%=GMAPS_API_KEY%>" type="text/javascript"></script>
    <script type="text/javascript" src="/javascripts/mapstraction.js"></script>	
    <script type="text/javascript" src="/javascripts/mapping.js"></script>	
	<script type="text/javascript" src="/javascripts/jquery.min.js"></script>	
    <style type="text/css">
        #map {
            width: 100%;
            height: 80%;
            border: 1px solid gray;
        }
    </style>

<div class="container">
	<div class="filters">
	<h2>Available filters:</h2>
	<ul class="nobullets">
		<li><a href="#" onclick="return updateMap('count=100')">Show last 100 reports</a></li>
		<li><a href="#" onclick="return updateMap('wait_time=90')">Show wait time > 90 minutes</a></li>
		<li><a href="#" onclick="return updateMap('rating=30')">Show only bad ratings</a></li>
		<li>View state-by-state: <%= state_select %></li>
	</ul>
	</div>
	
	<div class="legend">
	<h2>How to read this map:</h2>
		<div class="leftcolumn">
			<ul class="nobullets">
				<li><strong>Quality of experience:</strong></li>
				<li><%= image_tag "rating_bad.png" %> Bad rating (0-30%)</li>
				<li><%= image_tag "rating_medium.png" %> Medium rating (31-70%)</li>
				<li><%= image_tag "rating_good.png" %> Good rating (71-100%)</li>		
			</ul>
		</div>
		<div class="rightcolumn">
			<ul class="nobullets">
				<li><strong>Wait time:</strong></li> 
				<li><%= image_tag "rating_none.png", :style => "width: 10px; height: 10px;" %> 0-15 mins</li>
				<li><%= image_tag "rating_none.png", :style => "width: 14px; height: 14px;" %> 16-60 mins</li>
				<li><%= image_tag "rating_none.png", :style => "width: 18px; height: 18px;" %> 61+ mins</li>
			</ul>
		</div>
	</div>
</div>
<div class="clear"></div>

<div id="update_status" style="display:none">updating...</div>
<a href="#" onclick="updateMap('last_updated='+last_updated +'&'+filters); return false">Update Map</a><br />
This map was last updated on: <span id="last_updated"> </span>GMT

<script type="text/javascript" charset="utf-8">

		$(document).ready(function() {
			initMapJS();
			filters = "<%= @filters.collect{|k,v| "#{k}=#{v}"}.join("&") %>";
			state = "<%= @filters[:state] || '' %>";
			remoteLoad("/reports.json?callback=loadMarkers&per_page=200&" + filters)
		 });
</script>