<ul>
	<li>Total Reports on election day: <%= @election_reports %></li>
	<li>Total Reports (early voting and advocacy): <%= @number_reports %></li>
	
</ul>
<ul class="barGraph" style="position:absolute;top: 300px;">
	<%- @hourly_usage.each_with_index do |hour, i| -%>
	<li style="height: <%= (hour["count"].to_i*0.6).ceil %>px; left:<%= 40*i %>px;"><%= hour["count"] %> @ <%= hour["hour"] %></li>
	<%- end -%>
</ul>
<em>Number of reports per hour (Eastern Standard Time)</em>